@model IEnumerable<SoftwareII.Models.Stakeholder>

@{
    ViewData["Title"] = "Index";
}
<main class="app-content">

<h1>Index</h1>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-primary btn-sm" href="Stakeholder/Create" role="button">Crear stakeholder</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellidos
            </th>
            <th>
                Correo electrónico
            </th>
            <th>
                Empresa
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</main>